.nav{
 border-bottom: 0.1px solid black; 
}
.nav li{
    display: inline-block;
     margin: auto;
     margin-right: 0.1pc;
     padding: 3px 10px;
     
}
.nav li a:hover{
    text-decoration: underline;
    color: blue;
}
.nav li a{
    text-decoration: none;
    margin-right:auto;
}
.C{
    border-bottom: 10px solid black;
    color: rgb(22, 6, 195);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    font-style: inherit;
    background-color: aliceblue;
}
.D{
    background-color: yellow;
    width: 22.5%;
    margin: auto;
    padding-left: 1pc;
}
#A{
    margin: right 30px ;
    font-size: x-large;
    color: red;
}
.B{
    margin: auto;
    margin-left: auto;
}
.E{
    text-align: center;
    font-size: larger;
}
.form{
    text-align: center;
     border: 0.1px solid black;  
     background-color:antiquewhite ;

}
#A1{
    text-align: center;
    
}
.F{
    color: blue;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bolder;
    align-content: center;
    border:  0.1px solid black;
    margin-bottom: 1px;
}